runs
logs
IThesis-main/data/__pycache__/__init__.cpython-312.pyc
IThesis-main/data/__pycache__/paths.cpython-312.pyc
IThesis-main/data/__pycache__/pipeline.cpython-312.pyc
IThesis-main/data/__pycache__/SkeView.cpython-312.pyc
IThesis-main/data/__pycache__/utils.cpython-312.pyc
IThesis-main/configurations/__pycache__/__init__.cpython-312.pyc
IThesis-main/configurations/__pycache__/conf.cpython-312.pyc
IThesis-main/configurations/__pycache__/configure.cpython-312.pyc
IThesis-main/configurations/__pycache__/selection.cpython-312.pyc
IThesis-main/evaluation/__pycache__/__init__.cpython-312.pyc
IThesis-main/evaluation/__pycache__/evaluate.cpython-312.pyc
IThesis-main/evaluation/__pycache__/evaluation_proc.cpython-312.pyc
IThesis-main/models/__pycache__/__init__.cpython-312.pyc
IThesis-main/models/__pycache__/RAUNet.cpython-312.pyc
IThesis-main/models/__pycache__/UNet.cpython-312.pyc
IThesis-main/training/__pycache__/__init__.cpython-312.pyc
IThesis-main/training/__pycache__/train.cpython-312.pyc
IThesis-main/training/__pycache__/training_proc.cpython-312.pyc
